In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame({'A':[1,2,3],
              'B':[2,3,6]})

In [17]:
df1 = pd.DataFrame({'A':[1,2,3],
              'B':[2,3,6]})

   A  B
0  1  2
1  2  3
2  3  6

In [18]:
df

   A  B
0  1  2
1  2  3
2  3  6

In [19]:
df1

   A  B
0  1  2
1  2  3
2  3  6